[Unit]
Description=Apply CPU power state settings cpustate
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cpustate daemon
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
